/* This file is for your main application css. */
@import "bootstrap";
.bg-old{
  background-color: #e3f2fd;
  font-size: 20px;
}

.brand {
  font-size: 25px;
  color: brown;
}

.cardbody {
  margin-top: 3%;
  width: 100%;
}

.red{
  color: red;
}

.green{
  color: green;
}

.center{
  padding: 5% 38% 0;
}

.center2{
  padding: 0% 40% 0;
}
